.form-container{
    margin-top: 24px;
}

.form-container .first-section{
    display: flex;
    justify-content: space-between;
}

.form-container form{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.form-container .first-section .input-container{
    width: 48%;
}


.form-container input, .form-container select{
    width: 100%;
    padding: 17px 19px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    background: transparent;
    font-size: 19px;
    outline: none;
}

.form-container input::placeholder{
    color: #B5B5B5;
}

.form-container select option{
    color: #000;
}

.form-container select{
    background: url('../images/contact/select-dropdown.svg');
    background-position: 95% center;
    background-repeat: no-repeat;
    background-size: 5%;
    appearance: none;
}

.form-container select option{
    white-space: pre-wrap;
}


.form-container button{
    margin-top: 4px;
}
.enquiry-btn{
    position: relative;
}

.enquiry-btn.active{
    width: 20%;
    height: 30px;
}

.enquiry-btn:hover .simple-spinner.white span{
    border-right-color: #000;

}

.simple-spinner.white span {
    display: block;
    width: 32px;
    height: 32px;
    border: 3px solid transparent;
    border-radius: 50%;
    border-right-color: #fff;
    animation: spinner-anim 0.8s linear infinite;
  }