header{
    background-color: transparent;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3%;
    transition: all 0.3s ease;
    z-index: 100;
}

header.scrolled{
    background-color: #FFFEEF;
    box-shadow: 0 2px 10px #0000003a !important;
}


header .menu-icon.home{
    filter: invert();
}

header.scrolled .menu-icon.home{
    filter: none;
}

    
header .logo{
    width: 110px;
}

header .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 30px;
}

header nav ul li a{
    padding: 10px;
    text-decoration: none;
    color: #000;
}

header.home nav ul li a{
    color: #fff;
}

header.scrolled nav ul li a{
    color: #000;
}



header nav ul li a.active{
    color: var(--primary-color);
}

header.scrolled nav ul li a.active{
    color: var(--primary-color);
}

.close-menu,
.menu-icon{
    width: 30px;
    display: none;
}

.close-menu-div{
    display: none;
    text-align: right;
    margin-bottom: 50px;
    
}

@media (max-width : 990px) {

    .close-menu,
.menu-icon{
    display: block;
}
    .close-menu-div{
        display: flex;
        justify-content: end;
    }

    header .logo{
        width: 80px;
    }

    nav{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        height: 100vh;
        transform: translateX(-100%);
        transition: all 0.3s ease;
        padding: 30px;
        z-index: 10;
    }

    header nav ul{
        align-items: flex-end;
        gap: 50px;
    }

    nav.active{
        transform: translateX(0%);
    }

    nav ul{
        flex-direction: column;
    }

    header.home nav ul li a{
        color: #000;
    }
    
    header.scrolled nav ul li a{
        color: #000;
    }
}