.flavours{
    position: relative;
}

.flavours .temple{
    position: absolute;
    right: 0;
    bottom: 0;
}

.flavours .container{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 106px;
    padding-top: 10px;
}

.flavours .container .left-section{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 37px;
}

.flavours .container .left-section h1{
    color: var(--primary-color);
    width: 90%;
}

.flavours .container .left-section p{
    line-height: 30px;
}

.flavours .container .right-section{
    width: 40%;
}

.flavours .container .right-section .img-container{
    width: 100%;
}

.flavours .container .right-section .img-container img{
    width: 100%;
}

.heat-n-eat a{
    text-decoration: none;
}

/* Events Types Starts */

.events-type{
    text-align: center;
}

.events-type h2{
    color: var(--primary-color);
}


.events-type p{
    color: #888888;
    width: 55%;
    margin: 20px auto;
}

.event-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.events-type h3{
    color: var(--primary-color);
}

.events-type h4{
    margin-top: 37px;
    text-align: center;
}
/* Events Types Ends */

/* Gallery Starts */

.gallery{
    padding-top: 97px;
}

.gallery .container{
    position: relative;
}

.gallery .Vilakka{
    position: absolute;
}

.gallery h2{
    text-align: center;
    color: var(--primary-color);
}

.gallery p{
    text-align: center;
    color: #888888;
    margin-top: 20px;
    margin-bottom: 70px;
}

.gallery .gellery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    row-gap: 78px;
}

.gallery .gellery-container .img-container{
    width: 30%;
    aspect-ratio: 1;
}

.gallery .gellery-container .img-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

/* Gallery Ends */

/* Quick Meals Starts */

.quick-meals {
    margin-top: 130px;
}

.quick-meals .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quick-meals .container .left-container{
    width: 43%;
}

.quick-meals .container .right-container{
    width: 53%;
}

.quick-meals .container .right-container .img-container{
    width: 100%;
}

.quick-meals .container .right-container .img-container img{
    width: 100%;
}

.quick-meals h1{
    color: var(--primary-color);
    margin-top: 10%;
    margin-bottom: 35px;
    position: relative;
}

.quick-meals h1 .Vellarikya{
    position: absolute;
    right: 15%;
}

.quick-meals p{
    line-height: 35px;
    margin-bottom: 35px;
}

/* Quick Meals Ends */


@media (max-width : 990px) {
    .flavours .container{
        flex-direction: column-reverse;
    }

    .flavours .container .right-section{
        width: 100%;
    }

    .flavours .container .right-section .img-container{
        text-align: center;
    }

    .flavours .container .right-section .img-container img{
        width: 60%;
    }

    .flavours .container .left-section h1{
        width: 100%;
    }
    
    .flavours .container .left-section{
        width: 100%;
    }

    .event-container{
        flex-direction: column;
        gap: 20px;
    }

    .events-type h4{
        margin-top: 17px;
    }

    .events-type p{
        width: 100%;
    }

    .quick-meals{
        margin-top: 50px;
    }

    .quick-meals .container{
        flex-direction: column;
    }

    .quick-meals .container .right-container{
        width: 100%;
    }

    .quick-meals .container .left-container{
        width: 100%;
    }

    .quick-meals .container .right-container img{
        width: 100%;
    }

    .gallery .gellery-container{
        gap: 0;
        row-gap: 18px;
    }

    .gallery .gellery-container .img-container{
        width :48%
    }

    .flavours .temple{
        width: 80px;
    }

    .gallery .Vilakka{
        top: -5%;
        width: 80px;
        left: 0;
    }

    .quick-meals h1 .Vellarikya{
        right: 0;
    }
}